.idea/
node_modules/
vendor/
!src/vendor/
storage/
!app/Kayak/Storage/
.phpunit.result.cache
.env
.sftpconfig

public/*.html
public/sitemap.xml
public/price.xml
public/price.yml
public/textru.txt
public/robots.txt
public/*.php
!public/index.php
!public/wp-config.php
!public/wp-login.php
!public/maintenance.php

public/sitemap/
public/wp-admin/
public/wp-includes/
public/assets/**/*.map
public/assets/img/static/

public/wp-content/**/*.*
public/wp-content/plugins/
!public/wp-content/themes/kayak/**/*.*
