@mixin font($ff: null, $fz: null, $lh: null, $fw: null, $color: null, $lc: null) {
  font-family: $ff;
  font-size: $fz;
  line-height: $lh;
  font-weight: $fw;
  color: $color;
  letter-spacing: $lc;
}

@mixin position($position, $t: null, $r: null, $b: null, $l: null) {
  position: $position;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
  content: "";
  display: inline-block;
}

@mixin absolute($args...) {
  @include position(absolute, $args...);
}

@mixin relative($args...) {
  @include position(relative, $args...);
}

@mixin fixed($args...) {
  @include position(fixed, $args...);
}

@mixin visible {
  opacity: 1;
  visibility: visible;
}

@mixin invisible() {
  opacity: 0;
  visibility: hidden;
  transition: opacity $tr;
}

@mixin svg-fill($color) {

  svg {
    fill: $color;
  }
}

@mixin svg-stroke($color) {

  svg {
    stroke: $color;
    transition: stroke 0.3s;
  }
}