//MEDIA
$view-mobile: "min-width: 576px";
$view-tablet: "min-width: 768px";
$view-desktop: "min-width: 992px";
$view-large: "min-width: 1200px";
$view-huge: "min-width: 1600px";
$view-enormous: "min-width: 1800px";

//COLORS
$c-white: #fff;
$c-black: #000;

//FONTS

//TRANSITION
$tr: .3s ease-in-out;


//TODO refactor and implement everywhere
//HOVER
$hover: "(hover:hover)";
